.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-width: 70%;
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    margin-left: calc(var(--slide-spacing) * -1);
  }
}
